.footer-container{
    background: black no-repeat;
}

.link-icon ul{
    margin: 0;
    padding: 0;
}

.link-icon ul li{
    display: inline-block;
    margin: 6px;
    list-style: armenian;
}

.link-icon li a{
    color:whitesmoke;
    font-size: 40px;
    transition-duration: 250ms;
}