
.text-content{
    writing-mode: vertical-rl;
    display: inline;
    background-color: #8942a8;
    color: white;
    transform: rotate(180deg);
    text-align: center;
    padding: 10px;
}

.garden-house, .apartment, .mini-apartment{
    box-sizing: border-box;
    border-color: rbga(orange, 1);
}